<!--section About Us start-->
<section>
  <div class="temp_about_wrapper wow slideInUp" data-wow-duration="1.5s">
    <svg class="svg_border2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"
      height="50" width="100%">
      <path class="exqute-fill-white"
        d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3 c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3 c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z">
      </path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="abhout_main wow fadeIn">
          <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <div class="abhout_left">
              <div class="bottompadder20">
                <h1 class="heading">Try & save <span>much more</span></h1>
              </div>
              <div class="bottompadder10">
                <h1 class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority
                  have suffered alteration in some form, by injected humour, or randomised words which don't look even
                  slightly believable.</h1>
              </div>
              <div class="bottompadder30">
                <h1 class="paragraph">If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                  anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                  tend
                  to repeat predefined chunks as.</h1>
              </div>
              <a href="#" class="temp_btn">read more</a>
            </div>
          </div>
          <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
            <div class="about_right">
              <img src="assets/images/price1.jpg" alt="" class="img-responsive">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section About Us end-->

<!--section About Us start-->
<section>
  <div class="temp_about_banner wow fadeIn">
    <svg class="svg_border1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"
      height="50" width="100%">
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
     c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
     c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="abhout_main about_sec2">
          <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
            <div class="about_right">
              <img src="assets/images/price1.jpg" alt="" class="img-responsive">
              <a href="https://www.youtube.com/embed/hNQFjqDvPhA" class="popup-youtube">
                <svg version="1.1" id="Capa_1" class="play_button" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 294.843 294.843">
                  <g>
                    <path
                      d="M278.527,79.946c-10.324-20.023-25.38-37.704-43.538-51.132c-2.665-1.97-6.421-1.407-8.392,1.257s-1.407,6.421,1.257,8.392
                      c16.687,12.34,30.521,28.586,40.008,46.983c9.94,19.277,14.98,40.128,14.98,61.976c0,74.671-60.75,135.421-135.421,135.421
                      S12,222.093,12,147.421S72.75,12,147.421,12c3.313,0,6-2.687,6-6s-2.687-6-6-6C66.133,0,0,66.133,0,147.421
                      s66.133,147.421,147.421,147.421s147.421-66.133,147.421-147.421C294.842,123.977,289.201,100.645,278.527,79.946z" />
                    <path d="M109.699,78.969c-1.876,1.067-3.035,3.059-3.035,5.216v131.674c0,3.314,2.687,6,6,6s6-2.686,6-6V94.74l88.833,52.883
                      l-65.324,42.087c-2.785,1.795-3.589,5.508-1.794,8.293c1.796,2.786,5.508,3.59,8.294,1.794l73.465-47.333
                      c1.746-1.125,2.786-3.073,2.749-5.15c-0.037-2.077-1.145-3.987-2.93-5.05L115.733,79.029
                      C113.877,77.926,111.575,77.902,109.699,78.969z" />
                  </g>
                </svg>
              </a>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
            <div class="abhout_left">
              <div class=" bottompadder20">
                <h1 class="heading">Try & save <span>much more</span></h1>
              </div>
              <div class="bottompadder10">
                <h1 class="paragraph">There are many variations of passages of Lorem Ipsum available, but the majority
                  have suffered alteration in some form, by injected humour, or randomised words which don't look even
                  slightly believable.</h1>
              </div>
              <div class="bottompadder30">
                <h1 class="paragraph"> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                  anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
                  tend
                  to repeat predefined chunks as.</h1>
              </div>
              <a href="#" class="temp_btn">read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section About Us end-->