<!--section Footer start-->
<section>
  <div class="temp_footer_wrapper">
    <svg class="svg_border1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"
      height="50" width="100%">
      <path class="elementor-shape-fill" d="M421.9,6.5c22.6-2.5,51.5,0.4,75.5,5.3c23.6,4.9,70.9,23.5,100.5,35.7c75.8,32.2,133.7,44.5,192.6,49.7
   c23.6,2.1,48.7,3.5,103.4-2.5c54.7-6,106.2-25.6,106.2-25.6V0H0v30.3c0,0,72,32.6,158.4,30.5c39.2-0.7,92.8-6.7,134-22.4
   c21.2-8.1,52.2-18.2,79.7-24.2C399.3,7.9,411.6,7.5,421.9,6.5z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="temp_footer_Section">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="logo">
              <a href="index-2.html"><img src="assets/images/logo.png" alt="painter-footer-logo" class="ed_image" /></a>
            </div>
            <div class="footer_section bottompadder60">
              <p>
                A un Angleso it va semblar un used simplificat Angles, quam un
                skeptic it va semblar un used simplificat Angles Cambridge
                amico dit me que fgrd Occidental es.
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer_section bottompadder60">
              <p class="subheading">Recent Post</p>
              <div class="footer_flex bottompadder20">
                <div class="footer_left">
                  <a href="blog.html"><img src="assets/images/g4.jpg" alt="painter-recent-post"
                      class="img-responsive" /></a>
                </div>
                <div class="footer_right">
                  <a href="blog.html">Cambridge amico</a>
                  <p>Angleso it va semblar un used simplificat Angles</p>
                </div>
              </div>
              <div class="footer_flex">
                <div class="footer_left">
                  <a href="blog.html"><img src="assets/images/g5.jpg" alt="painter-recent-post2"
                      class="img-responsive" /></a>
                </div>
                <div class="footer_right">
                  <a href="blog.html">Cambridge amico</a>
                  <p>Angleso it va semblar un used simplificat Angles</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer_section f_sec3 bottompadder60">
              <p class="subheading">Instagram Post</p>
              <ul>
                <li>
                  <a href="#"><img src="assets/images/g4.jpg" alt="painter-insta1" class="img-responsive" /></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g5.jpg" alt="painter-insta2" class="img-responsive" /></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g6.jpg" alt="painter-insta3" class="img-responsive" /></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g7.jpg" alt="painter-insta4" class="img-responsive" /></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g8.jpg" alt="painter-insta5" class="img-responsive" /></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g3.jpg" alt="painter-insta6" class="img-responsive" /></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="footer_section sec4 bottompadder60">
              <p class="subheading">Contact Info</p>
              <ul>
                <li>
                  <span><i class="fa fa-map" aria-hidden="true"></i></span><span>3742 Graystone Lakes, Macon GA
                    Georgia,GA
                    307.</span>
                </li>
                <li>
                  <a href="mailto:dummy@painter.com"><span><i class="fa fa-envelope"
                        aria-hidden="true"></i></span><span>dummy&#64;webstie.com</span></a>
                </li>
                <li>
                  <span><i class="fa fa-phone-square" aria-hidden="true"></i></span><span>1800 265 7546</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="temp_copyright text-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p class="paragraph">
              Copyright &copy; 2021, All Rights Reserved by Template Bundle.
              <a href="index-2.html">Painters</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section Footer end-->