<!--section3 start-->
<section>
  <div class="temp_buttons_wrapper">
    <svg class="svg_border2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"
      height="50" width="100%">
      <path class="exqute-fill-white"
        d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3 c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3 c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z">
      </path>
    </svg>
    <div class="container">
      <div class="row wow fadeIn">
        <div class="buttons_wrapper1">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#" class="temp_btn4 wow bounceInDown" data-wow-duration="1.5s">small button</a>
            <a href="#" class="temp_btn3 btn-sm wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.3s">medium
              button</a>
            <a href="#" class="temp_btn2 btn-lg wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.6s">large
              button</a>
            <a href="#" class="temp_btn1 wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.9s">xlarge
              button</a>
          </div>
        </div>
        <div class="buttons_wrapper1 wow bounceInLeft" data-wow-duration="1.5s" data-wow-delay="1.3s">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#" class="temp_btn4 btn2">small button</a>
            <a href="#" class="temp_btn3 btn-sm btn2">medium button</a>
            <a href="#" class="temp_btn2 btn-lg btn2">large button</a>
            <a href="#" class="temp_btn1 btn2">xlarge button</a>
          </div>
        </div>
        <div class="buttons_wrapper1 wow bounceInRight" data-wow-duration="1.5s" data-wow-delay="1.6s">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#" class="temp_btn4 btn3">small button</a>
            <a href="#" class="temp_btn3 btn-sm btn3">medium button</a>
            <a href="#" class="temp_btn2 btn-lg btn3">large button</a>
            <a href="#" class="temp_btn1 btn3">xlarge button</a>
          </div>
        </div>
        <div class="buttons_wrapper1 wow bounceInLeft" data-wow-duration="1.5s" data-wow-delay="1.9s">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#" class="temp_btn4 btn4">small button</a>
            <a href="#" class="temp_btn3 btn-sm btn4">medium button</a>
            <a href="#" class="temp_btn2 btn-lg btn4">large button</a>
            <a href="#" class="temp_btn1 btn4">xlarge button</a>
          </div>
        </div>
        <div class="buttons_wrapper1 wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="2.2s">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#" class="temp_btn4 btn5">small button</a>
            <a href="#" class="temp_btn3 btn-sm btn5">medium button</a>
            <a href="#" class="temp_btn2 btn-lg btn5">large button</a>
            <a href="#" class="temp_btn1 btn5">xlarge button</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section3 end-->