/**tab**/
.tab_left,
.tab_center,
.tab_right {
  margin-bottom: 50px;
}

.nav-tabs,
.nav-tabs > li.active > a,
.nav-tabs > li:focus > a {
  border-color: #00bfd8 !important;
}

.nav-tabs > li > a {
  text-transform: capitalize;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a {
  background-color: #ffffff;
  border-color: #00bfd8;
  color: #00bfd8 !important;
}

.tab-content {
  padding: 15px 0;
}

.tab-content .subheading {
  padding-bottom: 10px;
}

.tab_right .nav-tabs > li {
  float: right;
}

.tab_center {
  text-align: center;
}

.tab_center .nav-tabs {
  display: inline-block;
}

.tab_vertical .nav-tabs {
  float: left;
  width: 25%;
}

.tab_vertical .nav-tabs > li {
  width: 100%;
  border: 1px solid #de2574;
}

.tab_vertical .nav-tabs > li > a {
  background-color: #ffffff;
  color: #de2574 !important;
  padding: 20px;
  width: 100%;
  border: none !important;
  border-radius: 0px;
}

.tab_vertical .nav-tabs > li:hover > a,
.tab_vertical .nav-tabs > li.active > a {
  background-color: #de2574;
  color: #ffffff !important;
}

.tab_vertical .tab-content {
  float: left;
  width: 75%;
  padding: 0px;
  padding-left: 30px;
}

.tab_vertical .tab-content ul {
  margin: 0;
  display: inline-block;
  padding: 3px 0;
  list-style: none;
}

.tab_vertical .tab-content ul li i {
  color: #de2574;
}

.tab_vertical .tab-content ul li span {
  padding-left: 15px;
}
/**tab**/
