<section>
  <div class="temp_banner_slider">
    <div class="p_banner">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="p_banner_right">
              <div class="animated fadeInUp">
                <h1 class="">
                  Painting <span>is silent poetry,</span> and poetry is
                  painting.
                </h1>
                <p>
                  Sometimes a game comes at just the right moment in your
                  life. 'Flower' is beautiful, serene, and a bit of sunshine
                  in a gloomy world I remember.
                </p>
                <a href="#" class="temp_btn">View more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg class="svg_border" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"
      height="50" width="100%">
      <path class="exqute-fill-white"
        d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3 c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3 c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z">
      </path>
    </svg>
  </div>
</section>
<!-- Section Hero end -->

<!-- why, serv -->

<app-service></app-service>

<app-team></app-team>

<app-price></app-price>

<app-testimonial></app-testimonial>

<app-project></app-project>

<app-blog></app-blog>