.temp_banner_slider {
  background-image: url("../../../assets/images/bg4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.p_banner {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 100px;
}

.p_banner p {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.7;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.p_banner_right h1 span {
  display: block;
  color: #00bfd8;
}

.temp_banner_slider h1 {
  font-size: 60px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  margin: 40px 0;
  font-style: normal;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.temp_banner_slider .p_banner1 h1 span {
  color: #00bfd8;
}

.temp_banner_slider .p_banner1 h1:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  right: 0;
  background: #00bfd8;
  width: 120px;
  height: 5px;
  margin: auto;
}

.temp_banner_slider h1:after {
  position: absolute;
  content: "";
  width: 80px;
  height: 1px;
  background: #ff5331;
  left: 0;
  bottom: -20px;
}

.temp_banner_slider h1:before {
  position: absolute;
  content: "";
  width: 400px;
  height: 1px;
  background: #fff;
  left: 82px;
  bottom: -20px;
}
@import "../../../styles.scss";
@import "../../../assets/css/responsive.scss";
