<!--section Our testimonial start-->
<section>
  <div class="temp_testimonial_wrapper">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 text-center">
          <div class="heading_wrapper wow rubberBand" data-wow-duration="2.5s">
            <h1 class="heading">Our testimonial</h1>
            <div class="clearfix"></div>
            <div class="right bottompadder10">
              <img src="assets/images/heading_icon.png" alt="painter-testi-head-border" width="205" height="32" />
            </div>
          </div>
          <p class="paragraph italic">
            Omnicos directe al desirabilite de un nov lingua franca: On refusa
            continuar payar custosi traductores.
          </p>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="testimonial_slider_wrapper wow fadeIn">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial_slider">
                    <div class="testimonial_slider_flex">
                      <div class="test_img">
                        <img src="assets/images/test1.jpg" alt="painter-test1" class="img-responsive" />
                      </div>
                      <div class="bottompadder10">
                        <h1 class="subheading">
                          <a href="#">Ursula Gurnmeister</a>
                        </h1>
                        <p class="paragraph">HR Manager</p>
                      </div>
                    </div>
                    <p class="paragraph">
                      “ Li nov lingua franca va esser plu simplic e regulari
                      quam li existent Europan lingues. It va esser tam
                      simplic quam Occidental.”
                    </p>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="testimonial_slider">
                    <div class="testimonial_slider_flex">
                      <div class="test_img">
                        <img src="assets/images/test2.jpg" alt="painter-test2" class="img-responsive" />
                      </div>
                      <div class="bottompadder10">
                        <h1 class="subheading">
                          <a href="#">Quiche Hollandaise</a>
                        </h1>
                        <p class="paragraph">CEO</p>
                      </div>
                    </div>
                    <p class="paragraph">
                      “ Li nov lingua franca va esser plu simplic e regulari
                      quam li existent Europan lingues. It va esser tam
                      simplic quam Occidental.”
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section Our testimonial end-->