<!--section3 start-->
<section>
  <div class="temp_blog_single_wrapper">
    <svg class="svg_border2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none"
      height="50" width="100%">
      <path class="exqute-fill-white"
        d="M790.5,93.1c-59.3-5.3-116.8-18-192.6-50c-29.6-12.7-76.9-31-100.5-35.9c-23.6-4.9-52.6-7.8-75.5-5.3 c-10.2,1.1-22.6,1.4-50.1,7.4c-27.2,6.3-58.2,16.6-79.4,24.7c-41.3,15.9-94.9,21.9-134,22.6C72,58.2,0,25.8,0,25.8V100h1000V65.3 c0,0-51.5,19.4-106.2,25.7C839.5,97,814.1,95.2,790.5,93.1z">
      </path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <div class="blog_single wow fadeInUp" data-wow-duration="1.5s">
            <div class="news_section text-center">
              <div class="temp_hover">
                <img src="assets/images/price1.jpg" alt="" class=" img-responsive">
                <div class="blog_single_overlay"></div>
              </div>
              <div class="blog_detail text-left">
                <h2 class="subheading">Maintaining a beautiful Home with Kids</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                  scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                  into electronic typesetting, remaining essentially unchanged.</p>
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="blockquote"><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took.</i></p>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="blockquote"><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took.</i></p>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <p class="blockquote"><i>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                        printer took.</i></p>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                      the
                      industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                      and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                      the
                      leap into electronic typesetting, remaining essentially unchanged. It has survived not only five
                      centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                  </div>
                </div>
                <ul>
                  <li><a href="#"><span><i class="fa fa-calendar" aria-hidden="true"></i>02 Aug 2017</span></a></li>
                  <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i>237</a></li>
                  <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>admin</a></li>
                </ul>
              </div>
            </div>
            <div class="comments-area padder_bottom30 wow fadeIn" id="comments">
              <h1 class="comments-title padder_bottom20">comments</h1>
              <ol class="comment-list">
                <li>
                  <div class="comment_wrapper wow slideInLeft" data-wow-duration="1.5s">
                    <div class="comments">
                      <span class="authore_img"><img src="assets/images/team1.jpg" class="img-responsive" alt=""></span>
                      <div class="content">
                        <h5 class="heading3">painting</h5>
                        <div class="date">
                          <span class="reply"><a href="#">reply <i class="fa fa-reply"
                                aria-hidden="true"></i></a></span>
                          <span><a href="#">January 9, 2021</a></span>
                          <span><a href="#">9:27 am</a></span>
                        </div>
                        <p class="paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                          roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                          Richard McClintock</p>
                      </div>
                    </div>
                  </div>

                  <ul class="children">
                    <li>
                      <div class="comment_wrapper wow slideInLeft" data-wow-duration="1.5s" data-wow-delay="0.3s">
                        <div class="comments">
                          <span class="authore_img"><img src="assets/images/team2.jpg" class="img-responsive"
                              alt=""></span>
                          <div class="content">
                            <h5 class="heading3">painting</h5>
                            <div class="date">
                              <span class="reply"><a href="#">reply <i class="fa fa-reply-all"
                                    aria-hidden="true"></i></a>
                              </span>
                              <span><a href="#">January 9, 2021</a></span>
                              <span><a href="#">9:27 am</a></span>
                            </div>
                            <p class="paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It
                              has
                              roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                              Richard McClintock</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </li>
                <li>
                  <div class="comment_wrapper wow slideInLeft" data-wow-duration="1.5s" data-wow-delay="0.3s">
                    <div class="comments">
                      <span class="authore_img"><img src="assets/images/team3.jpg" class="img-responsive" alt=""></span>
                      <div class="content">
                        <h5 class="heading3">painting</h5>
                        <div class="date">
                          <span class="reply"><a href="#">reply <i class="fa fa-reply"
                                aria-hidden="true"></i></a></span>
                          <span><a href="#">January 9, 2021</a></span>
                          <span><a href="#">9:27 am</a></span>
                        </div>
                        <p class="paragraph">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                          roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
                          Richard McClintock</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
            </div>
            <div class="comment-respond text-elft wow fadeIn">
              <h1 class="comment-reply-title padder_bottom30">leave a comment</h1>
              <form>
                <div class="form-group">
                  <input type="text" class="form-control required" id="name" placeholder="Enter Your Name">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control required" id="email" placeholder="Enter Your Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control required" id="website" placeholder="Enter Your Website">
                </div>
                <div class="form-group message">
                  <textarea class="form-control required" id="message" rows="3" placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn temp_btn">send</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="temp_sidebar">
            <div class="widget widget_search padder_bottom30 wow fadeInRight" data-wow-duration="1.5s">
              <form>
                <div class="form-group">
                  <input type="text" class="form-control" id="search" name="search" placeholder="Search" value="">
                </div>
                <button type="submit" class="temp_btn wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="1s"><i
                    class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </div>

            <div class="widget widget_resentpost padder_bottom50 wow fadeInRight" data-wow-duration="1.5s"
              data-wow-delay="0.3s">
              <h2 class="widget-title">recent post</h2>
              <div class="post_slider">
                <div class="rp_img">
                  <img src="assets/images/post1.jpg" alt="" class="img-responsive">
                  <a href="#">Mar 15, 2017</a>
                </div>
                <div class="rp_content">
                  <a href="#">Beautiful home painting</a>
                </div>
              </div>
            </div>
            <div class="widget widget_categories padder_bottom50">
              <div class="widget-title">categories</div>
              <ul>
                <li>
                  <a href="#">Competition <span>10</span></a>
                </li>
                <li>
                  <a href="#">life <span>3</span></a>
                </li>
                <li>
                  <a href="#">Enjoyment <span>10</span></a>
                </li>
                <li>
                  <a href="#">Media‎ <span>20</span></a>
                </li>
                <li>
                  <a href="#">life style <span>8</span></a>
                </li>
              </ul>
            </div>
            <div class="widget widget_archive padder_bottom50">
              <div class="widget-title">Archives</div>
              <ul>
                <li>
                  <a href="#">january 2017</a>
                </li>
                <li>
                  <a href="#">faburary 2017</a>
                </li>
                <li>
                  <a href="#">March 2017</a>
                </li>
                <li>
                  <a href="#">april 2017</a>
                </li>
              </ul>
            </div>
            <div class="widget widget_flickrgallery padder_bottom50">
              <div class="widget-title">flickr gallery</div>
              <ul>
                <li>
                  <a href="#"><img src="assets/images/g1.jpg" class="img-responsive" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g2.jpg" class="img-responsive" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g3.jpg" class="img-responsive" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g4.jpg" class="img-responsive" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g5.jpg" class="img-responsive" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g6.jpg" class="img-responsive" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g7.jpg" class="img-responsive" alt=""></a>
                </li>
                <li>
                  <a href="#"><img src="assets/images/g8.jpg" class="img-responsive" alt=""></a>
                </li>
              </ul>
            </div>

            <div class="widget widget_tag_cloud padder_bottom50">
              <div class="widget-title">cafe tags</div>
              <div class="locksmith_tag">
                <a href="#">escape</a>
                <a href="#">lock</a>
                <a href="#">key</a>
                <a href="#">tips</a>
                <a href="#">horror</a>
                <a href="#">hanger</a>
                <a href="#">asylum</a>
                <a href="#">tension</a>
                <a href="#">horror</a>
                <a href="#">hanger</a>
                <a href="#">asylum</a>
                <a href="#">tension</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section3 end-->