<!--section Our team start-->
<section>
  <div class="temp_team_wrapper">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-0 col-xs-offset-0 text-center">
          <div class="heading_wrapper wow rubberBand" data-wow-duration="2.5s">
            <h1 class="heading">Our team</h1>
            <div class="clearfix"></div>
            <div class="right bottompadder10">
              <img src="assets/images/heading_icon.png" alt="painter-team-heading" />
            </div>
          </div>
          <p class="paragraph italic">
            Omnicos directe al desirabilite de un nov lingua franca: On refusa
            continuar payar custosi traductores.
          </p>
        </div>
        <div class="temp_team wow fadeIn">
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="team_section text-center wow fadeInUp" data-wow-duration="1.5s">
              <div class="team_img">
                <img src="assets/images/t1.jpg" alt="painter-team1" class="img-responsive" />
              </div>
              <h2 class="subheading">
                <a href="team.html">Fletch Skinner</a>
              </h2>
              <div class="">
                <h2 class="paragraph">Water Color Painter</h2>
              </div>
              <ul class="social_icon">
                <li class="li1">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class="li2">
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="li3">
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li class="li4">
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="team_section text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
              <div class="team_img">
                <img src="assets/images/t2.jpg" alt="painter-team2" class="img-responsive" />
              </div>
              <h2 class="subheading">
                <a href="team.html">Niles Peppertrout</a>
              </h2>
              <div class="">
                <h2 class="paragraph">House Painter</h2>
              </div>
              <ul class="social_icon">
                <li class="li1">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class="li2">
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="li3">
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li class="li4">
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="team_section text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1s">
              <div class="team_img">
                <img src="assets/images/t3.jpg" alt="painter-team3" class="img-responsive" />
              </div>
              <h2 class="subheading">
                <a href="team.html"> Benjamin Evalent</a>
              </h2>
              <div class=" ">
                <h2 class="paragraph">Wood Painter</h2>
              </div>
              <ul class="social_icon">
                <li class="li1">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class="li2">
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="li3">
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li class="li4">
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <div class="team_section text-center wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="1.5s">
              <div class="team_img">
                <img src="assets/images/t4.jpg" alt="painter-team4" class="img-responsive" />
              </div>
              <h2 class="subheading">
                <a href="team.html">Gunther Beard</a>
              </h2>
              <div class="">
                <h2 class="paragraph">Color Painter</h2>
              </div>
              <ul class="social_icon">
                <li class="li1">
                  <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class="li2">
                  <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </li>
                <li class="li3">
                  <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </li>
                <li class="li4">
                  <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--section Our team end-->